
 
.bg-amazon-header{
    background-color:  #131921;
}
 
.bg-amazon-yellow{
    background-color: #ff9900;
}
.text-amazon-yellow{
   color: #ff9900;
 
}
///////////////////////////////////////////////////////////////////////
/// 