<header id="article-header_1-0" class="comp article-header mntl-block">
    <h1 id="article-heading_2-0" class="comp article-heading mntl-text-block">
        About Us</h1>
    <div id="sponsorship-wrapper_1-0" class="comp sponsorship-wrapper mntl-block"></div>
</header>
<div id="article-body_1-0" class="comp article-body mntl-block" data-contain-tooltips="true">
    <div id="toc_1-0" class="comp toc mntl-toc mntl-block" data-offset="60">
        <div id="mntl-toc__inner_1-0" class="comp mntl-toc__inner mntl-block">
            <div id="mntl-toc__heading_1-0" class="comp mntl-toc__heading mntl-block">
                <svg class="icon icon-toc ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-toc"></use>
                </svg>
                <span id="toc__heading-text_1-0" class="comp toc__heading-text mntl-text-block">
                    Table of Contents</span>
                <div id="mntl-toc-toggle_1-0" class="comp mntl-toc-toggle mntl-block">
                    <button id="mntl-toc-toggle__btn_1-0"
                        class="comp js-mntl-toc-toggle mntl-toc-toggle__btn mntl-text-block" data-expanded-text="Close"
                        data-collapsed-text="Expand">
                        Expand</button>
                </div>
            </div>
            <ul id="mntl-toc__list_1-0" class="comp mntl-toc__list">
                <li id="mntl-toc__list-item_1-0" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-who-we-are" rel="nocaes" id="mntl-toc__list-item-link_1-0"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Who We Are</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-1" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-1" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-investopedia-in-the-press" rel="nocaes" id="mntl-toc__list-item-link_1-0-1"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Investopedia in the
                                Press</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-2" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-2" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-senior-editorial-team" rel="nocaes" id="mntl-toc__list-item-link_1-0-2"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Senior Editorial Team</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-3" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-3" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-investopedia-by-the-numbers" rel="nocaes" id="mntl-toc__list-item-link_1-0-3"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Investopedia By the
                                Numbers</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-4" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-4" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-editorial-standards" rel="nocaes" id="mntl-toc__list-item-link_1-0-4"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Editorial Standards</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-5" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-5" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-financial-review-board" rel="nocaes" id="mntl-toc__list-item-link_1-0-5"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Financial Review Board</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-6" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-6" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-diverse-perspectives-and-inclusive-content" rel="nocaes"
                            id="mntl-toc__list-item-link_1-0-6"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Diverse Perspectives and
                                Inclusive Content</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-7" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-7" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-fact-checking" rel="nocaes" id="mntl-toc__list-item-link_1-0-7"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Fact Checking</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-8" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-8" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-corrections" rel="nocaes" id="mntl-toc__list-item-link_1-0-8"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Corrections</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-9" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-9" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-management-team" rel="nocaes" id="mntl-toc__list-item-link_1-0-9"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Management Team</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-10" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-10" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-about-dotdash-meredith" rel="nocaes" id="mntl-toc__list-item-link_1-0-10"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">About Dotdash Meredith</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-11" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-11" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-careers" rel="nocaes" id="mntl-toc__list-item-link_1-0-11"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Careers</span></a>
                    </div>
                </li>
                <li id="mntl-toc__list-item_1-0-12" class="comp mntl-toc__list-item mntl-block">
                    <div id="mntl-toc__list-item-heading_1-0-12" class="comp mntl-toc__list-item-heading mntl-block">
                        <a href="#toc-contact-us" rel="nocaes" id="mntl-toc__list-item-link_1-0-12"
                            class=" mntl-toc__list-item-link mntl-text-link mntl-toc__list-item-link js-mntl-toc-link"
                            data-tracking-container="true"><span class="link__wrapper">Contact Us</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="mntl-sc-page_1-0" class="comp article-body-content mntl-sc-page mntl-block" data-sc-sticky-offset="60"
        data-sc-ad-label-height="24" data-sc-ad-track-spacing="100" data-sc-min-track-height="250"
        data-sc-max-track-height="600" data-sc-breakpoint="54em" data-sc-load-immediate="1"
        data-sc-content-positions="[300,600,900,1200,1500,1800,2100]">
        <span class="heading-toc" id="toc-who-we-are"></span>
        <h2 id="mntl-sc-block_1-0" class="comp mntl-sc-block finance-sc-block-heading mntl-sc-block-heading"> <span
                class="mntl-sc-block-heading__text"> Who We Are </span> </h2>
        <p id="mntl-sc-block_1-0-1" class="comp mntl-sc-block finance-sc-block-html mntl-sc-block-html">
            Investopedia was founded in 1999 with the mission of simplifying financial decisions and information to give
            readers the confidence to manage every aspect of their financial life.
        </p>
        <div id="mntl-sc-block_1-0-2" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
        <p id="mntl-sc-block_1-0-3" class="comp mntl-sc-block finance-sc-block-html mntl-sc-block-html">
            Our millions of readers come to us from all over the world and from all walks of life. Some are learning
            about money and investing for the first time, while others are experienced investors, business owners,
            professionals, financial advisors, and executives looking to improve their knowledge and skills. No matter
            who they are, we are here to help.
        </p>
        <div id="mntl-sc-block_1-0-4" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
        <p id="mntl-sc-block_1-0-5" class="comp mntl-sc-block finance-sc-block-html mntl-sc-block-html">
            Investopedia is a part of the&nbsp;<a href="https://www.dotdashmeredith.com/" data-component="link"
                data-source="inlineLink" data-type="externalLink" data-ordinal="1" rel="nofollow noopener"
                target="_blank">Dotdash Meredith</a>&nbsp;publishing family.
        </p>
        <div id="mntl-sc-block_1-0-6" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
        <div id="mntl-sc-block_1-0-7" class="comp mntl-sc-block finance-sc-block-callout mntl-block">
            <div id="mntl-sc-block_1-0-8"
                class="comp theme-whatyouneedtoknow mntl-sc-block mntl-sc-block-callout mntl-block"
                data-tracking-id="mntl-sc-block-callout" data-tracking-container="true">
                <h3 id="mntl-sc-block-callout-heading_1-0" class="comp mntl-sc-block-callout-heading mntl-text-block">
                    Awards</h3>
                <div id="mntl-sc-block-callout-body_1-0" class="comp mntl-sc-block-callout-body mntl-text-block">
                    <ul>
                        <li><strong>2021 Best in Business Awards, Newsletter, Medium Division, </strong>SABEW</li>
                        <li><strong>2020 Dotdash named Publisher of the Year</strong>, Digiday</li>
                        <li><strong>2019 FCS Portfolio Awards, Branded Content</strong>, Financial Communications
                            Society</li>
                        <li><strong>2018 Great Place to Work</strong>, Great Place to Work Institute</li>
                        <li><strong>2018 Financial Content Marketing Award</strong>, Gramercy Institute</li>
                        <li><strong>2018 Dotdash named Publisher of the Year</strong>, Digiday</li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="heading-toc" id="toc-investopedia-in-the-press"></span>
        <h2 id="mntl-sc-block_1-0-9" class="comp mntl-sc-block finance-sc-block-heading mntl-sc-block-heading"> <span
                class="mntl-sc-block-heading__text"> Investopedia in the Press </span> </h2>
        <ul id="mntl-sc-block_1-0-10" class="comp mntl-sc-block finance-sc-block-html mntl-sc-block-html">
            <li>Caleb Silver on <a
                    href="https://newjersey.news12.com/financial-expert-says-save-now-to-pay-off-student-debt-fast"
                    data-component="link" data-source="inlineLink" data-type="externalLink" data-ordinal="1"
                    target="_blank" rel="noopener">News 12</a></li>
            <li>Caleb Silver on <a href="https://twitter.com/NBCNewsNow/status/1563158574724816900"
                    data-component="link" data-source="inlineLink" data-type="externalLink" data-ordinal="2"
                    target="_blank" rel="noopener">NBC News</a></li>
            <li>Caleb Silver on <a href="https://www.fox5dc.com/video/1109064" data-component="link"
                    data-source="inlineLink" data-type="externalLink" data-ordinal="3" target="_blank"
                    rel="noopener">FOX 5</a></li>
            <li>Caleb Silver on <a href="https://twitter.com/i/broadcasts/1ZkJzbYeVmdJv" data-component="link"
                    data-source="inlineLink" data-type="externalLink" data-ordinal="4" target="_blank" rel="noopener">TD
                    Ameritrade Network</a><br></li>
        </ul>
        <div id="mntl-sc-block_1-0-11" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
        <p id="mntl-sc-block_1-0-12" class="comp mntl-sc-block finance-sc-block-html mntl-sc-block-html">
            For media inquiries, please contact press@investopedia.com
        </p>
        <div id="mntl-sc-block_1-0-13" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
        <span class="heading-toc" id="toc-senior-editorial-team"></span>
        <h2 id="mntl-sc-block_1-0-14" class="comp mntl-sc-block finance-sc-block-heading mntl-sc-block-heading"> <span
                class="mntl-sc-block-heading__text"> Senior Editorial Team </span> </h2>
        <div id="mntl-sc-block_1-0-16"
            class="comp mntl-sc-block mntl-sc-block-bio--universal-image mntl-sc-block-bio mntl-block">
            <div id="mntl-sc-block-bio__person_1-0" class="comp mntl-sc-block-bio__person mntl-block">
                <div id="mntl-sc-block-bio__name_1-0" class="comp mntl-sc-block-bio__name mntl-text-block">
                    Caleb Silver</div>
                <div id="mntl-sc-block-bio__title_1-0" class="comp mntl-sc-block-bio__title mntl-text-block">
                    Editor-in-Chief</div>
            </div>


        </div>