<h1 class="title__heading js-ref">

    <span class="title__title">Contact us</span>
</h1>

<div id="RootPlaceHolder_RootPlaceHolder_SubHeading" class="title__subheading">
    <span class="hide-old-designs">
        This advice applies to



    </span>





</div>
<h2>
    you’re applying for Universal Credit</h2>
<div class="revealable__content slide--hidden" id="revealable-1" tabindex="-1">
    <p dir="ltr">You can&nbsp;<a href="/about-us/contact-us/contact-us/help-to-claim/">contact our Help to Claim
            service</a>
        &nbsp;for help with the claiming process - from making an application to getting your first payment.</p>
</div>



<section class="revealable revealable--setup">
    <h2 dir="ltr" id="h-if-you-need-help-with-money-or-debt" class="js-ref revealable__heading" data-action="toggle"
        aria-controls="revealable-2" tabindex="0" aria-expanded="false">If you need help with money or debt</h2>
    <div class="revealable__content slide--hidden" id="revealable-2" tabindex="-1">
        <p dir="ltr">If you’re having issues with money or debt, you can:</p>
        <ul>
            <li dir="ltr">
                <p dir="ltr"><a href="/about-us/contact-us/contact-us/chat-service-money-and-debt/">talk to us online
                        about a debt problem</a>
                    &nbsp;using chat - we can usually help between 8am and 7pm, Monday to Friday</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">call our debt helpline - it’s available 9am to 5pm, Monday to Friday</p>
            </li>
        </ul>
        <p>Debt helpline:&nbsp;<a href="tel:08002404420">0800 240 4420</a></p>
        <p>Relay UK - if you can't hear or speak on the phone, you can type what you want to say: 18001 then&nbsp;
            <a href="tel:08002404420">0800 240 4420</a>
        </p>
        <p>You can use Relay UK with an app or a textphone. There’s no extra charge to use it.
            &nbsp;<a href="https://www.relayuk.bt.com/how-to-use-relay-uk.html" rel="external" class="a-external">Find
                out how to use Relay UK</a>
            &nbsp;on the Relay UK website.</p>
        <p>The debt helpline is available 9am to 5pm, Monday to Friday. It’s not available on public holidays.</p>
        <div>
            <p>Calls are free from mobiles and landlines.</p>
        </div>
    </div>







</section>
<section></section>

<section class="revealable revealable--setup">
    <h2 dir="ltr" id="h-if-you-have-a-problem-with-something-you-ve-bought-or-a-service-you-ve-received"
        class="js-ref revealable__heading" data-action="toggle" aria-controls="revealable-3" tabindex="0"
        aria-expanded="false">
        If you have a problem with something you’ve bought or a service you've received</h2>
    <div class="revealable__content slide--hidden" id="revealable-3" tabindex="-1">
        <p dir="ltr">You can&nbsp;
            <a href="/about-us/contact-us/contact-us/consumer-service/">contact our consumer service</a>
            &nbsp;if you have a consumer issue like broken or faulty goods, or problems with energy, water or post.
        </p>
        <p dir="ltr">The consumer service can advise you and pass complaints to Trading Standards.</p>
    </div>


</section>
<h2 dir="ltr" id="h-find-your-nearest-citizens-advice" class="js-ref">Find your nearest Citizens Advice</h2>
<p dir="ltr">Enter your postcode or town to get contact details for your nearest Citizens Advice.</p>





<form action="/about-us/contact-us/contact-us/search-for-your-local-citizens-advice/"
    class="c-search-inline search-inline">
    <input type="hidden" name="c" value="CONTACTUS-BUREAU">

    <div class="search-inline__field">

    </div>
    <div class="search-inline__button">

    </div>
</form>


<p dir="ltr">Most local Citizens Advice can only help you if you live or work in their area.</p>
<div class="callout--alert">
    <h2 dir="ltr" id="h-coronavirus---changes-to-our-service" class="js-ref">Coronavirus - changes to our service</h2>
    <p dir="ltr">Some local Citizens Advice still can't give face to face advice. They might be able to help by phone,
        email or online chat instead.</p>
    <p dir="ltr">If you can’t contact your local Citizens Advice, you can still get help by calling our national phone
        line or by talking to an adviser online. There might be longer wait times than usual but we’ll help you as soon
        as we can.</p>
</div>
<h2 dir="ltr" id="h-talk-to-us-online" class="js-ref">Talk to us online</h2>
<p dir="ltr">Chat lets you talk to a trained adviser online. You can:</p>
<ul>
    <li dir="ltr">
        <p dir="ltr"><a href="/about-us/contact-us/contact-us/chat-service-money-and-debt/">talk to us about a debt
                problem</a>&nbsp;- we can usually help between 8am and 7pm, Monday to Friday</p>
    </li>
    <li dir="ltr">
        <p dir="ltr"><a href="/about-us/contact-us/contact-us/web-chat-service/">talk to us about any other kind of
                problem</a>&nbsp;- we can usually help between 9am and 5pm, Monday to Friday</p>
    </li>
</ul>
<h2 dir="ltr" id="h-call-our-national-phone-line" class="js-ref">Call our national phone line</h2>

<p dir="ltr">You can contact an adviser through our national phone service:</p>
<p dir="ltr">Adviceline (England): <a href="tel:08001448848">0800 144 8848<br></a></p>
<p dir="ltr">Advicelink (Wales):&nbsp;<a href="tel:08007022020">0800 702 2020</a>&nbsp;<a
        href="tel:08007022020"><br></a></p>
<p>Relay UK - if you can't hear or speak on the phone, you can type what you want to say: 18001 then <a
        href="tel:08001448884">0800 144 8884</a></p>
<p>You can use Relay UK with an app or a textphone. There’s no extra charge to use it. <a
        href="https://www.relayuk.bt.com/how-to-use-relay-uk.html" rel="external" class="a-external">Find out how to use
        Relay UK</a> on the Relay UK website.</p>
<p dir="ltr">Adviceline’s available 9am to 5pm, Monday to Friday. It’s usually busiest at the beginning and end of the
    day. It's not available on public holidays.</p>



<p dir="ltr">If you call from a mobile, we’ll ask you to enter a local landline number on your keypad. This can be any
    number -
    we only use it to send your call to a local adviser if one’s available.</p>


<p dir="ltr">There are a few parts of England we don’t cover yet. If you’re in one of these areas, we’ll give you other
    options when you call.

</p>

<p dir="ltr">We’ll answer as soon as we can - at busy times you might need to wait up to an hour. If the wait is long,
    we’ll tell you about
    other ways to get advice. You can also try calling again later.</p>

<p dir="ltr">Calls to Adviceline are free from mobiles and landlines. You can
    <a href="/about-us/contact-us/contact-us/how-much-it-costs-to-phone-citizens-advice/">see more about our call
        charges</a>.
</p>


<h2 dir="ltr" id="h-give-feedback-or-make-a-complaint" class="js-ref">Give feedback or make a complaint</h2>
<p dir="ltr">You can give <a href="/about-us/contact-us/contact-us/make-a-complaint-about-us/">feedback or&nbsp;
        make a complaint</a> about our advice or how you’ve been treated when you contacted us or visited your local
    Citizens Advice.</p>
<h2 dir="ltr" id="h-read-our-privacy-policy" class="js-ref">Read our privacy policy</h2>
<p><a href="/about-us/about-us1/citizens-advice-privacy-policy/your-information/">Find out how we store and use your
        personal
        information</a> when you contact us.</p>
<h2 id="h-read-our-behaviour-policy" class="js-ref">Read our behaviour policy</h2>
<p>Our staff have the right to do their jobs without being treated badly -
    <a href="/about-us/contact-us/contact-us/how-we-handle-unacceptable-behaviour/">find out how we deal with
        unacceptable behaviour</a>.
</p>